/*
Default CSS for the Data inspector
see also: DataInspector.js, DataInspector.html
*/

/*
  Grey color palette
  https://www.google.com/design/spec/style/color.html
/*   #FAFAFA; /* Grey 50  */
/*   #F5F5F5; /* Grey 100 */
/*   #EEEEEE; /* Grey 200 */
/*   #E0E0E0; /* Grey 300 */
/*   #BDBDBD; /* Grey 400 */
/*   #9E9E9E; /* Grey 500 */
/*   #757575; /* Grey 600 */
/*   #616161; /* Grey 700 */
/*   #424242; /* Grey 800 */
/*   #212121; /* Grey 900 */

@font-face {
  font-family: 'iran-sans';
  font-weight: normal;
  src: url('../fonts/IRANSans/IRANSans.eot');
}

body{
  font-family: 'iran-sans';
}
.inspector {
  display: inline-block;
  font: bold 14px 'IRANSansX';
  background-color: #212121; /* Grey 900 */
  color: #F5F5F5; /* Grey 100 */
  cursor: default;
  direction: rtl;
  /* position: absolute; */
  transition: all 0.1s ease;
  top: 130px;
} 

.inspector table {
  border-collapse: separate;
  border-spacing: 2px;
}

.inspector td, th {
  padding: 2px;
}

.inspector input {
  background-color: #e8dfe7; /* Grey 800 */
  color: #141212; /* Grey 100 */
  font: bold 12px helvetica, sans-serif;
  border: 0px;
  padding: 2px;
}

.inspector input:disabled {
  background-color: #e1d2d2; /* Grey 400 */
  color: #1b1919; /* Grey 700 */
}

.inspector select {
  background-color: #424242;
}

